@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

button {
    touch-action: manipulation;
}

html {
    font-size: 16px;
    line-height: 1.5;
    transition-property: font-size;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
@media (min-width: 38em) {
    html {
        font-size: 20px;
    }
}
