@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-size: 16px;
    line-height: 1.5;
}
@media (min-width: 38em) {
    html {
        font-size: 20px;
    }
}
